In [1]:
#Read excel

import pandas as pd
df = pd.read_excel('task2_masterlist.xlsx',engine='openpyxl',sheet_name=None)

df['main'].head(5)

,uen,entity_name,ssic,entity_status,contact_status
0,201609791Z,WALNUT INNOVATION PTE. LTD.,46900,Live Company,Previously Contacted
1,201526410G,T AND Y GLOBAL HOLDINGS PTE. LTD.,46900,Live Company,Not Contacted
2,198804307M,DYNAMIC CHEMICAL PTE. LTD.,20131,Live Company,Not Contacted
3,201908704M,TRI-LINK PROJECTS PTE. LTD.,41009,Live Company,Not Contacted
4,53353306J,GO DUTCH - THE TASTE OF HOLLAND,46304,Live,Previously Contacted

In [2]:
df['main'].shape

(985, 5)

In [3]:
df['contacts'].head(5)

,uen,entity_name,name,designation,phone,email,email_check
0,201609791Z,WALNUT INNOVATION PTE. LTD.,Mr ZE,Director,6511111111,ze@walnutin.com,Valid
1,201526410G,T AND Y GLOBAL HOLDINGS PTE. LTD.,Mr HE,Managing Director,6511111112,he@tandyglo.com,Bounced
2,198804307M,DYNAMIC CHEMICAL PTE. LTD.,Mr QT,Director,6511111113,qt@dynamicc.com,Valid
3,201908704M,TRI-LINK PROJECTS PTE. LTD.,Mr OG,CTO,6511111114,og@tri-link.com,Valid
4,53353306J,GO DUTCH - THE TASTE OF HOLLAND,Mr PQ,Director,6511111115,pq@godutch-.com,Bounced

In [4]:
df['contacts'].shape

(985, 7)

In [5]:
df['target_ssic'].head(5)

   target_ssic
0        46900
1        70201
2        47910
3        62019
4        56111

In [6]:
df['target_ssic'].shape

(35, 1)

In [7]:
#merge 1st 2 sheets

df2 = pd.merge(df['main'],df['contacts'],on = ['uen', 'entity_name'], how = 'outer')
df2.head(5)

,uen,entity_name,ssic,entity_status,contact_status,name,designation,phone,email,email_check
0,201609791Z,WALNUT INNOVATION PTE. LTD.,46900,Live Company,Previously Contacted,Mr ZE,Director,6511111111,ze@walnutin.com,Valid
1,201526410G,T AND Y GLOBAL HOLDINGS PTE. LTD.,46900,Live Company,Not Contacted,Mr HE,Managing Director,6511111112,he@tandyglo.com,Bounced
2,198804307M,DYNAMIC CHEMICAL PTE. LTD.,20131,Live Company,Not Contacted,Mr QT,Director,6511111113,qt@dynamicc.com,Valid
3,201908704M,TRI-LINK PROJECTS PTE. LTD.,41009,Live Company,Not Contacted,Mr OG,CTO,6511111114,og@tri-link.com,Valid
4,53353306J,GO DUTCH - THE TASTE OF HOLLAND,46304,Live,Previously Contacted,Mr PQ,Director,6511111115,pq@godutch-.com,Bounced

In [8]:
df2.shape

(985, 10)

In [22]:
#filter criteria entity_status = 'Live', 'Live Company', email_check = 'Valid', designation != Manager, Executive 

df3 = df2[((df2['entity_status'] == 'Live') | (df2['entity_status'] == 'Live Company')) & (df2['email_check'] == 'Valid') & (df2['designation'] != 'Manager') & (df2['designation'] != 'Executive')]
df3

,uen,entity_name,ssic,entity_status,contact_status,name,designation,phone,email,email_check
0,201609791Z,WALNUT INNOVATION PTE. LTD.,46900,Live Company,Previously Contacted,Mr ZE,Director,6511111111,ze@walnutin.com,Valid
2,198804307M,DYNAMIC CHEMICAL PTE. LTD.,20131,Live Company,Not Contacted,Mr QT,Director,6511111113,qt@dynamicc.com,Valid
3,201908704M,TRI-LINK PROJECTS PTE. LTD.,41009,Live Company,Not Contacted,Mr OG,CTO,6511111114,og@tri-link.com,Valid
6,199803926D,CARONA FAST FOOD PTE LTD,10799,Live Company,Not Contacted,Mr LJ,Director,6511111117,lj@caronafa.com,Valid
7,201715594Z,EZ LOAN PTE. LTD.,64924,Live Company,Not Contacted,Mr GQ,Managing Director,6511111118,gq@ezloanpt.com,Valid
...,...,...,...,...,...,...,...,...,...,...
980,201409455C,NEORANKING PTE. LTD.,73100,Live Company,Not Contacted,Ms EK,Director,6511112091,ek@neoranki.com,Valid
981,201706365C,SHUNASC INTERNATIONAL PTE. LTD.,46900,Live Company,Not Contacted,Ms DP,Director,6511112092,dp@shunasci.com,Valid
982,201922108G,QUEEN'S LEASING PTE. LTD.,49219,Live Company,Not Contacted,Ms NZ,CEO,6511112093,nz@queen'sl.com,Valid
983,T14LL2506J,LIFE BALANCE LLP,86904,Live,Previously Contacted,Ms OT,Managing Director,6511112094,ot@lifebala.com,Valid
984,07797100X,KING CHOON RUBBER PRODUCT MANUFACTURING COMPANY,22193,Live,Not Contacted,Ms LD,CEO,6511112095,ld@kingchoo.com,Valid

In [27]:
#SSIC = target_ssic

df_tssic = df['target_ssic'].rename(columns={'target_ssic':'ssic'})
df4 = pd.merge(df3,df_tssic,on = 'ssic', how = 'inner')
df4

,uen,entity_name,ssic,entity_status,contact_status,name,designation,phone,email,email_check
0,201609791Z,WALNUT INNOVATION PTE. LTD.,46900,Live Company,Previously Contacted,Mr ZE,Director,6511111111,ze@walnutin.com,Valid
1,201317238C,DYNAMIC GOALS TRADING PTE. LTD.,46900,Live Company,Repeat,Mr UM,Director,6511111138,um@dynamicg.com,Valid
2,201730138D,SB INT PTE. LTD.,46900,Live Company,Not Contacted,Mr IH,Director,6511111177,ih@sbintpte.com,Valid
3,201619734N,KINGSMAN OAK (PTE. LTD.),46900,Live Company,Previously Contacted,Mr OW,Director,6511111178,ow@kingsman.com,Valid
4,202033879R,RHYTHM & HZ PTE. LTD.,46900,Live Company,Previously Contacted,Mr UF,Managing Director,6511111187,uf@rhythm&h.com,Valid
...,...,...,...,...,...,...,...,...,...,...
413,199903113E,ASAKUSA 21 PTE LTD,47711,Live Company,Not Contacted,Ms AV,Managing Director,6511112087,av@asakusa2.com,Valid
414,201725497R,SHIP TOTAL SERVICE PTE. LTD.,30110,Live Company,Repeat,Ms ZV,Director,6511111801,zv@shiptota.com,Valid
415,201904830R,PLANET BLUE INTERNATIONAL PTE. LTD.,30110,Live Company,Repeat,Ms AT,CEO,6511112000,at@planetbl.com,Valid
416,202008442K,MOXLINK TECHNOLOGIES PTE. LTD.,62011,Live Company,Not Contacted,Ms ZP,Managing Director,6511111844,zp@moxlinkt.com,Valid
417,201937557W,SOFTBRAIN TECHNOLOGY PTE. LIMITED,62011,Live Company,Not Contacted,Ms MY,CEO,6511111963,my@softbrai.com,Valid

In [30]:
df4['contact_status'].value_counts()

Not Contacted           146
Previously Contacted    139
Repeat                  133
Name: contact_status, dtype: int64

In [31]:
#split contact status into 3 dataframes

df_notcon = df4[df4['contact_status'] == 'Not Contacted']
df_prevcon = df4[df4['contact_status'] == 'Previously Contacted']
df_repcon = df4[df4['contact_status'] == 'Repeat']

In [32]:
#Randomise contact status - 'Not Contacted'

df_notconshuf = df_notcon.sample(frac=1)
df_notconshuf

,uen,entity_name,ssic,entity_status,contact_status,name,designation,phone,email,email_check
244,53330747C,ATLANT POINT AGENCY,47910,Live,Not Contacted,Ms SI,Managing Director,6511111846,si@atlantpo.com,Valid
386,201927892Z,BESPOKE HABITAT HL PTE. LTD.,68103,Live Company,Not Contacted,Ms BU,Managing Director,6511111893,bu@bespokeh.com,Valid
302,202041219W,DA DA CAPITAL FOUNDATION LTD.,62019,Live Company,Not Contacted,Mr WK,CEO,6511111319,wk@dadacapi.com,Valid
305,201529055D,GRABJOBS PTE. LTD.,62019,Live Company,Not Contacted,Mr CL,Director,6511111387,cl@grabjobs.com,Valid
120,202000823D,NOBILITY PLACEMENT SERVICES PTE. LTD.,62021,Live Company,Not Contacted,Mr GD,Managing Director,6511111306,gd@nobility.com,Valid
...,...,...,...,...,...,...,...,...,...,...
31,T12LL1548J,UNIVERSAL TECH TOOLS LLP,46900,Live,Not Contacted,Mr WU,Director,6511111452,wu@universa.com,Valid
178,202022586W,NIXDORF PTE. LTD.,70201,Live Company,Not Contacted,Ms TT,CEO,6511111570,tt@nixdorfp.com,Valid
123,201914764C,VS TRADING PTE. LTD.,62021,Live Company,Not Contacted,Mr HL,Managing Director,6511111419,hl@vstradin.com,Valid
32,200305842Z,PESU ASIA PTE. LTD.,46900,Live Company,Not Contacted,Mr NS,Managing Director,6511111472,ns@pesuasia.com,Valid
148,201634944K,HAULIO PTE. LTD.,52291,Live Company,Not Contacted,Mr IC,Director,6511111390,ic@hauliopt.com,Valid

In [34]:
#Split contact_status 'Not Contacted' equally into 3 parts

df_notconshuf1 = df_notconshuf.iloc[:48]
df_notconshuf2 = df_notconshuf.iloc[48:97]
df_notconshuf3 = df_notconshuf.iloc[97:]
df_notconshuf2.shape

(49, 10)

In [35]:
#Randomise contact status - 'Previously Contacted'

df_prevconshuf = df_prevcon.sample(frac=1)
df_prevconshuf

,uen,entity_name,ssic,entity_status,contact_status,name,designation,phone,email,email_check
241,53088998J,KIDZGOODIES,47910,Live,Previously Contacted,Ms SD,CEO,6511111649,sd@kidzgood.com,Valid
76,201715435Z,ENRICH CAPITAL VENTURES PTE. LTD.,46900,Live Company,Previously Contacted,Ms XN,Managing Director,6511111939,xn@enrichca.com,Valid
393,201716905K,ZERO MOBILE PTE. LTD.,62013,Live Company,Previously Contacted,Mr WM,Managing Director,6511111540,wm@zeromobi.com,Valid
203,201835530Z,LOCL IT SINGAPORE PTE. LTD.,70201,Live Company,Previously Contacted,Ms EO,CEO,6511111924,eo@loclitsi.com,Valid
154,201929891C,STRIVING ORIGIN HOLDING PTE. LTD.,70201,Live Company,Previously Contacted,Mr FA,CEO,6511111166,fa@striving.com,Valid
...,...,...,...,...,...,...,...,...,...,...
128,202016310C,IN285 PTE. LTD.,62021,Live Company,Previously Contacted,Ms ER,Managing Director,6511111986,er@in285pte.com,Valid
280,T19FC0037B,SPHERA UK HOLDINGS LIMITED (SINGAPORE BRANCH),62090,Live Company,Previously Contacted,Ms BF,Director,6511112010,bf@spherauk.com,Valid
40,202032452Z,MALLEXE TRADING PTE. LTD.,46900,Live Company,Previously Contacted,Ms SV,Managing Director,6511111629,sv@mallexet.com,Valid
196,201218623E,FREMIX PTE. LTD.,70201,Live Company,Previously Contacted,Ms NC,Director,6511111838,nc@fremixpt.com,Valid
60,201531630W,E.K CONTROLS (SINGAPORE) PTE. LTD.,46900,Live Company,Previously Contacted,Ms UF,Managing Director,6511111840,uf@e.kcontr.com,Valid

In [38]:
#Split contact_status 'Previously Contacted' equally into 3 parts

df_prevconshuf1 = df_prevconshuf.iloc[:46]
df_prevconshuf2 = df_prevconshuf.iloc[46:92]
df_prevconshuf3 = df_prevconshuf.iloc[92:]
df_prevconshuf1.shape

(46, 10)

In [39]:
#Randomise contact status - 'Repeat'

df_repconshuf = df_repcon.sample(frac=1)
df_repconshuf

,uen,entity_name,ssic,entity_status,contact_status,name,designation,phone,email,email_check
97,198301856K,SCAN - BILT PTE LTD,41009,Live Company,Repeat,Ms TE,Managing Director,6511111892,te@scan-bil.com,Valid
189,53205302L,BIZ CONSULT,70201,Live,Repeat,Ms IX,Managing Director,6511111716,ix@bizconsu.com,Valid
139,201209482Z,S P SETIA DEVELOPMENT PTE. LTD.,68101,Live Company,Repeat,Ms DY,CEO,6511111856,dy@spsetiad.com,Valid
336,201407633K,ARTEMIS GRILL PTE. LTD.,56111,Live Company,Repeat,Ms QE,CEO,6511111968,qe@artemisg.com,Valid
403,53385502X,CHAN'S DELIGHTS,56140,Live,Repeat,Ms HG,Director,6511111584,hg@chan'sde.com,Valid
...,...,...,...,...,...,...,...,...,...,...
206,201825012E,HIMEJI PROPERTY PTE. LTD.,70201,Live Company,Repeat,Ms IW,Director,6511112004,iw@himejipr.com,Valid
188,201726233D,TRIETSCH CONSULTANCY PTE. LTD.,70201,Live Company,Repeat,Ms XR,Director,6511111708,xr@trietsch.com,Valid
239,202102198C,SKORTZ SHOP PTE. LTD.,47910,Live Company,Repeat,Ms LQ,Director,6511111565,lq@skortzsh.com,Valid
46,197201662C,HO LEE AUTO COMPANY (PTE.) LTD,46900,Live Company,Repeat,Ms QD,Managing Director,6511111674,qd@holeeaut.com,Valid
150,201406798Z,PHLOTRON NETWORKS PTE. LTD.,70201,Live Company,Repeat,Mr IH,Managing Director,6511111142,ih@phlotron.com,Valid

In [42]:
#Split contact_status 'Repeat' equally into 3 parts

df_repconshuf1 = df_repconshuf.iloc[:45]
df_repconshuf2 = df_repconshuf.iloc[45:89]
df_repconshuf3 = df_repconshuf.iloc[89:]
df_repconshuf1.shape

(45, 10)

In [45]:
#Combine into 3 files for 3 executive

df_exec1 = pd.concat([df_notconshuf1,df_prevconshuf1,df_repconshuf1],ignore_index=True)
df_exec2 = pd.concat([df_notconshuf2,df_prevconshuf2,df_repconshuf2],ignore_index=True)
df_exec3 = pd.concat([df_notconshuf3,df_prevconshuf3,df_repconshuf3],ignore_index=True)
df_exec1

,uen,entity_name,ssic,entity_status,contact_status,name,designation,phone,email,email_check
0,53330747C,ATLANT POINT AGENCY,47910,Live,Not Contacted,Ms SI,Managing Director,6511111846,si@atlantpo.com,Valid
1,201927892Z,BESPOKE HABITAT HL PTE. LTD.,68103,Live Company,Not Contacted,Ms BU,Managing Director,6511111893,bu@bespokeh.com,Valid
2,202041219W,DA DA CAPITAL FOUNDATION LTD.,62019,Live Company,Not Contacted,Mr WK,CEO,6511111319,wk@dadacapi.com,Valid
3,201529055D,GRABJOBS PTE. LTD.,62019,Live Company,Not Contacted,Mr CL,Director,6511111387,cl@grabjobs.com,Valid
4,202000823D,NOBILITY PLACEMENT SERVICES PTE. LTD.,62021,Live Company,Not Contacted,Mr GD,Managing Director,6511111306,gd@nobility.com,Valid
...,...,...,...,...,...,...,...,...,...,...
134,202022151G,SWS F&B MANAGEMENT PTE. LTD.,56111,Live Company,Repeat,Mr PY,Managing Director,6511111233,py@swsf&bma.com,Valid
135,201543209K,SOLVE EDUCATION HOLDINGS PTE. LTD.,62019,Live Company,Repeat,Ms TX,Director,6511111644,tx@solveedu.com,Valid
136,201725497R,SHIP TOTAL SERVICE PTE. LTD.,30110,Live Company,Repeat,Ms ZV,Director,6511111801,zv@shiptota.com,Valid
137,201419033N,DIONA SINGAPORE PTE. LTD.,62090,Live Company,Repeat,Ms YT,Director,6511111605,yt@dionasin.com,Valid
138,202040368H,ARISING GRAND MOTORING PTE. LTD.,49219,Live Company,Repeat,Mr WY,Managing Director,6511111266,wy@arisingg.com,Valid

In [46]:
#Select columns for output template

df_new1 = df_exec1[['uen','entity_name','name','designation','phone','email','email_check']]
df_new2 = df_exec2[['uen','entity_name','name','designation','phone','email','email_check']]
df_new3 = df_exec3[['uen','entity_name','name','designation','phone','email','email_check']]
df_new1

,uen,entity_name,name,designation,phone,email,email_check
0,53330747C,ATLANT POINT AGENCY,Ms SI,Managing Director,6511111846,si@atlantpo.com,Valid
1,201927892Z,BESPOKE HABITAT HL PTE. LTD.,Ms BU,Managing Director,6511111893,bu@bespokeh.com,Valid
2,202041219W,DA DA CAPITAL FOUNDATION LTD.,Mr WK,CEO,6511111319,wk@dadacapi.com,Valid
3,201529055D,GRABJOBS PTE. LTD.,Mr CL,Director,6511111387,cl@grabjobs.com,Valid
4,202000823D,NOBILITY PLACEMENT SERVICES PTE. LTD.,Mr GD,Managing Director,6511111306,gd@nobility.com,Valid
...,...,...,...,...,...,...,...
134,202022151G,SWS F&B MANAGEMENT PTE. LTD.,Mr PY,Managing Director,6511111233,py@swsf&bma.com,Valid
135,201543209K,SOLVE EDUCATION HOLDINGS PTE. LTD.,Ms TX,Director,6511111644,tx@solveedu.com,Valid
136,201725497R,SHIP TOTAL SERVICE PTE. LTD.,Ms ZV,Director,6511111801,zv@shiptota.com,Valid
137,201419033N,DIONA SINGAPORE PTE. LTD.,Ms YT,Director,6511111605,yt@dionasin.com,Valid
138,202040368H,ARISING GRAND MOTORING PTE. LTD.,Mr WY,Managing Director,6511111266,wy@arisingg.com,Valid

In [47]:
#export to excel

with pd.ExcelWriter('task2_output.xlsx') as writer:
    df_new1.to_excel(writer, sheet_name='Tom', index=False)
    df_new2.to_excel(writer, sheet_name='Jerry', index=False)
    df_new3.to_excel(writer, sheet_name='Mary', index=False)